* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

img{
    max-width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0% 4%;
    background-color: white;
    color:rgb(150, 150, 150);
    font-size: 20px;
    font-family:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
    height: 70px;
}

.site-title {
    line-height: 10px;
    font-weight: 600;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color:rgb(150, 150, 150);
    transition: all 0.3s;
}

a:hover {
    opacity: 0.5;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav > li > a {
    font-size: 0.8rem;
    margin-left: 20px;
}



@media screen and (max-width:780px) {
    .site-title{
        margin: 10px 0px;
    }
    
    #header {
        flex-direction: column;
        height: auto;
        line-height: 30px;
        margin-top: 20px;
    }
}


.top {
    background-image: url(./img/mt-fuji-1346096__480.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

@media screen and (max-width:780px) {
    .top {
        height: 40vh;
    }
}

.guideline {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
    color: rgba(240, 248, 255, 0.768);
    font-size: 20px;
}

.aboutus {
    font-family:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif; 
    margin: 50px 0px ;
    padding: 0% 2%;
    color: rgba(0, 0, 0, 0.607);
    font-size: 15px;
}

.box {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}

.box > a {
    text-decoration: none;
}

@media screen and (max-width:780px) {
    .box {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        height: 100vh;
    }
}

.box1 {
    background-image: url(./img/gaiyou.jpg);
    width: 30vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffe1;
    font-size: 150%;
    text-decoration: none;
}

.box2 {
    background-image: url(./img/naiyou.jpg);
    width: 30vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffe1;
    font-size: 150%;
}

.box3 {
    background-image: url(./img/jisseki.jpg);
    width: 30vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffe1;
    font-size: 150%;
}

@media screen and (max-width :780px) {
    .box1 ,.box2 ,.box3{
        height:30vh;
        width: 100vw;
        margin-top: 7%;
        }
}

.map {
    margin: 50px 0px 0px;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
    color: rgba(0, 0, 0, 0.607);
    font-size: 25px;
}

.maps {
    position: relative;
    width: 70%;
    height: 0%;
    padding-top: 55%;
}

.maps > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
}

footer {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;;
    color: rgba(0, 0, 0, 0.609);
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px 0px 30px;
    padding: 15% 0%  ;
    font-size: 100%;
}

@media screen and (max-width:780px) {
    .foot {
        width: 100vw;
        height: 10vh;
        font-size: 80%;
    }
}

.footer-left {
    width: 50vw;
    height: 10vh;
}

.footer-right {
    width: 50vw;
    height: 10vh;
    text-align: center;
    padding: 10px 0px 0px;
}

.nav1 {
    list-style: none;
}

.nav1 > li > a {
    color:rgb(150, 150, 150);
    text-decoration: none;
}

.copy {
    text-align: center;
    background-color: gainsboro;
    font-size: 100%;
}


